.blog-list {
  width: 100%;
  margin-bottom: 10px;
}
.blog-list > li {
  width: 100%;
  margin-bottom: 10px;
}
.blog-list > li > a {
  display: block;
}
.blog-list > li > a:hover {
  font-style: normal;
}
.blog-list > li .img-cont {
  height: 150px;
}
.blog-list > li .img-cont img {
  display: block;
  width: 100%;
  height: 150px;
}
.blog-list > li .intro-cont {
  background-color: #FFF;
  padding: 10px;
}
.blog-list > li .intro-cont > .tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.blog-list > li .intro-cont > p {
  line-height: 20px;
  font-size: 12px;
  color: #666;
}
