doctype
  html
	head
	  meta(charset="utf-8")
	  meta(name="viewport" content="width=device-width, initial-scale=1")
	  title index
	body
	  include nav.pug

	  script(data-main="../js/main.js" src="../js/libs/require.js")
