nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="javascript:;") David.Han
    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li._index
          a(href="./index.html")
            | 首页
            span.sr-only (current) 
        li._blog
          a(href="./blog.html") 博客 
        li.dropdown
          a(href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Dropdown 
            span.caret
          ul.dropdown-menu
            li
              a(href="./news.html") Action 
            li
              a(href="./news.html") Action 22
      form.navbar-form.navbar-left
        div.form-group
          input(type="text" placeholder="Search").form-control 
        button(type="submit").btn.btn-default Submit  
      ul.nav.navbar-nav.navbar-right
        li
          a(href="javascript:;") Link 
        li.dropdown
          a(href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle Dropdown 
            span.caret
          ul.dropdown-menu
            li
              a(href="./news.html") Action 
            li
              a(href="./news.html") Action 22
            