doctype html
html
    head
        meta(charset="utf-8")  
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title blog
        link(rel="stylesheet" href="../css/libs/bootstrap.css")
        link(rel="stylesheet" href="../css/main.css")
    body 
        div.hdw
            include nav.pug 
            div.aaa blog
        script(data-main="../js/main.js" src="../js/libs/require.js")